<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:jee="http://www.springframework.org/schema/jee" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/jee
	http://www.springframework.org/schema/jee/spring-jee.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util.xsd">
    <context:annotation-config />

    <bean id="dataSource"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.hsqldb.jdbcDriver" />
        <!-- property name="url" value="jdbc:hsqldb:hsql://localhost:9008/conn" />-->
        <property name="url" value="jdbc:hsqldb:file:./dbs/test" /> 
        <property name="username" value="sa" />
        <property name="password" value="" />
    </bean>

    <bean id="sessionFactory"
        class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource">
            <ref local="dataSource" />
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
            </props>
        </property>
        <property name="annotatedClasses">
            <list>
                <value>com.sh.connection.persistence.model.User</value>
                <value>com.sh.connection.persistence.model.Post</value>
                <value>com.sh.connection.persistence.model.Comment</value>
            </list>
        </property>
    </bean>

    <!-- persistence lier -->
    <bean id="userPL" class="com.sh.connection.persistence.UserPL">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <bean id="postPL" class="com.sh.connection.persistence.PostPL">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <bean id="commentPL" class="com.sh.connection.persistence.CommentPL">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <!-- services lier -->
    <bean id="userService" class="com.sh.connection.service.UserService" />
    <bean id="postService" class="com.sh.connection.service.PostService" />
    <bean id="commentService" class="com.sh.connection.service.CommentService" />
</beans>